<form action="/shouted-greeting-b" method="get">
    What's your name?</br>
    <input type="radio" name="name" value="dog"> DOG</br>
    <input type="radio" name="name" value="cat"> CAT</br>
    <input type="radio" name="name" value="squirrel">SQUIRREL</br>
    And which greeting would you like?</br>
    <select name="greeting">
    <option value="howdy">Howdy</option>
    <option value="hello">Hello</option>
    <option value="whassup">Whassup</option>
    </select>
    <input type="submit" value="submit">
  </form>
